* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    }
    .html {
        margin: 10%;
    }
    h1 {
        background-color: white;
        font-size: 5em;
        font-weight: 900;
        font-style: italic;
        text-align: center;        
    }
    .logo {
        border-radius: 50px;
    }
header{    
    margin: 0px 15px 0px  15px;
    background-color:  white;
    display: flex;
    justify-content: space-between;
    }

body {
        background-color: white;
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 15;
    }

    .inicio{
    background-color:  white;
    list-style-type: none;
    font-size: 175%;  
    font-style: italic;
    font-weight: 900;
    margin-top: 30;
    margin-left: 20;
    margin-right: 20;
    display: flex;
    align-items: center;
}

.inicio li {
font-weight: bold;
font-style: none;
padding: 3px;
background-color: white;
border: 25px; 
width: 110px;
}
.container .index {
    margin: 0;
    
}
.container {
background-color: #023047
}
.index {
    background-color: #023047;
    display: flex;
    justify-content: space-between;
}
.card_index1 {
    margin: 15px 15px 0px 15px;
    background-color: #023047;
    width: 25%;
}
.img_index1 {
    width: 100%;
    display: flex;
    border-radius: 50px;
}
.card_description1 {
    font-size: 2em;
    font-style: oblique;
    font-weight: 90;
    text-align: center;
    border-radius: 30px;
    }
.card_index2 {
    width: 28%;
    margin: 15px 15px 0px 15px;
 }
.img_index2 {
    width: 100%;
    display: flex;
    border-radius: 50px;
}
.card_description2 {
    font-size: 2em;
    font-style: oblique;
    font-weight: 100;
    text-align: center;
    border-radius: 50px;}

    .card_index3 {
        width: 24%;
        margin: 15px 15px 0px 15px;
    }
    
    .img_index3 {
        width: 100%;
        display: flex;
        border-radius: 50px;
    }
    .card_description3 {
        font-size: 2em;
        font-style: oblique;
        font-weight: 50;
        text-align: center;
        border-radius: 50px;}

        .pie_inicio { 
            background-color: white;
            text-align: center;
            padding: 15px 15px;
            font-weight: bold;
         }    
        


/* ----> empieza Nosotros<----    */
.header_nosotros {
    background-color: white;
    font-size: 100%;  
    font-style: italic;
    font-weight: 300;
    margin-top: 30;
    margin-left: 20;
    margin-right: 20;    
    }
.logo_nosotros {
    border-radius: 10px;
}
.nosotros_2 {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.nosotros_2 li {
    width: 110px;
    display: flex; 
    flex-direction: row;
    background-color: white;
    text-align: center;
    justify-content: center;
    padding: 60px;
}

#body_nosotros {
    color: white;
    background-image: linear-gradient(0deg,rgba( 0,0,0,0.5),
    rgba(0,0,0,0.5)
    ) ,url(../galeria/perros.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

    footer{
    text-align: center;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 2em;

    }

    /* empieza apoyo 
    <<<<----apoyo---->>>>>*/ 
    

.logo_apoyo {
    border-radius: 10px;
}
.apoyo1 {  
    display: flex;
    list-style: none;
    flex-direction: row; 
}
.apoyo1 li{
    display: flex;
    
    align-items: center;
    width: 75px;
    font-weight: bold;
    font-style: none;
    font-size: large;
}

.apoyo_card {
    background-color: white;
    display: flex;
    align-items: center;
}
.apoyo_img{
    width: 94%;
    align-items: start;
    
}
.apoyo_img1{
    width: 90%; 
}
.footer_apoyo {
    background-color: white;
    text-align: center;
    padding: 15px 15px;
    font-weight: bold;
   
}

/* empieza servicios 
>>>>>>>SERVICIOS<<<<<<<*/
.logo_servicio {
    border-radius: 10px;
   }
    .servicios {
        display: flex;
        list-style: none;
        flex-direction: row;
    }
    
    .servicios li {
        display: flex;
        align-items: center;
        width: 75px;
        font-weight: bold;
        font-style: none;
        font-size: large;
        padding-top: 55px;
    }
.caja_layout {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    width: 100%;
    height: 50vh;
    grid-template-areas: 
    "rescate adopcion adopcion quien contacto"
    "rescate peluqueria peluqueria quien contacto"
    ;
    text-align: center;
}

.c1 {
    background-image: url(../galeria/perros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: rescate;
    padding-top: 240px;
    font-size: 34px;
    text-decoration: none;
    color: mistyrose;
}
.c2 {
    background-image: url(../galeria/adopcion2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: adopcion;
    text-decoration: none;
    color: blue;
    font-size: 34px;
}
.c3 {
    background-image: url(../galeria/peluqueria4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: peluqueria;
    text-decoration: none;
    color: mediumvioletred;
    font-size: 34px;
    padding-right: 500px;
}
.c4{
background-image: url(../galeria/chihuahua\ Nosotros.jfif);
background-repeat: no-repeat;
background-size: contain;
grid-area: quien;
font-size: 34px;
text-decoration: none;

}
.c5{
    background-image: url(../galeria/contacto2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: contacto;
    font-size: 32px;
    text-decoration: none;
    padding-left: 100px;
    padding-top: 200px;
    color: yellowgreen;
}
.animacion {
    transition: 2s;
}
.animacion:hover {
    transform: scale(1.1)
}

        /* empieza 
        >>>>>>>CONTACTO <<<<<<<
     */
.logo_contacto {
border-radius: 10px;
     }
.ul_contacto {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.ul_contacto li {
    display: flex;
    align-items: center;
    width: 75px;
    font-weight: bold;
    font-style: none;
    font-size: large;
     }
.contact1 {
padding: 200px;
border-radius: 5px;
}
.car1 {
    border-radius: 15px;
}
.car2 {
    border-radius: 15px;
}
.car3 {
    border-radius: 15px;
}