* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    }
    .html {
        margin: 10%;
    }
    h1 {
        background-color: white;
        font-size: 5em;
        font-weight: 900;
        font-style: italic;
        text-align: center;        
    }
    .logo {
        border-radius: 50px;
    }
header{    
    margin: 0px 15px 0px  15px;
    background-color:  white;
    display: flex;
    justify-content: space-between;
    }

body {
        background-color: white;
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 15;
    }

    .inicio{
    background-color:  white;
    list-style-type: none;
    font-size: 175%;  
    font-style: italic;
    font-weight: 900;
    margin-top: 30;
    margin-left: 20;
    margin-right: 20;
    display: flex;
    align-items: center;
    flex-direction: row; 
}

.inicio li {
font-weight: bold;
font-style: none;
padding: 3px;
background-color: white;
border: 25px; 
width: 110px;
}
.container .index {
    margin: 0;
    
}
.container {
background-color: #023047
}
.index {
    background-color: #023047;
    display: flex;
    justify-content: space-between;
}
.card_index1 {
    margin: 15px 15px 0px 15px;
    background-color: #023047;
    width: 25%;
}
.img_index1 {
    width: 100%;
    display: flex;
    border-radius: 50px;
}
.card_description1 {
    font-size: 2em;
    font-style: oblique;
    font-weight: 90;
    text-align: center;
    border-radius: 30px;
    }
.card_index2 {
    width: 28%;
    margin: 15px 15px 0px 15px;
 }
.img_index2 {
    width: 100%;
    display: flex;
    border-radius: 50px;
}
.card_description2 {
    font-size: 2em;
    font-style: oblique;
    font-weight: 100;
    text-align: center;
    border-radius: 50px;}

    .card_index3 {
        width: 24%;
        margin: 15px 15px 0px 15px;
    }
    
    .img_index3 {
        width: 100%;
        display: flex;
        border-radius: 50px;
    }
    .card_description3 {
        font-size: 2em;
        font-style: oblique;
        font-weight: 50;
        text-align: center;
        border-radius: 50px;}

    .index_pie {
        text-align: center;
        padding: 15px 15px;
    font-weight: bold;
     }    
        


/* empieza Nosotros     background-color: #023047;
        list-style-type: none;
        font-size: 175%;  
        font-style: italic;
        font-weight: 900;
        padding: 30px;    margin-top: 30;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 10;
        display: flex;
        flex-direction:row;
        flex-wrap:inherit 
        justify-content: center;
        align-items: center;*/
.header_nosotros {
    background-color: white;
    font-size: 130%;  
    font-style: italic;
    font-weight: 300;
    margin-top: 30;
    margin-left: 20;
    margin-right: 20;    
    }

.nosotros_2 li {
    background-color: white;
    list-style-type: none;    
    margin-top: 30;
    margin-left: 20;
    margin-right: 20;   
    display: flex;
    align-items: center;
    flex-direction: row;       
}

.body_nosotros {
    color:gray;
    background-image: linear-gradient(0deg,rgba( 0,0,0,0.5),
    rgba(0,0,0,0.5)
    ) ,url(../galeria/perros.jpg);  
    background-size: cover;
    background-position: center center;
    font-size: 2em;
    font-style: oblique;
    font-weight: 15px;
    text-align: center;
    
   }

    footer{
    text-align: center;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 2em;

    }

    /* empieza apoyo 
    <<<<----apoyo---->>>>>*/ 
    
.apoyo{    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;  
    text-align: center;
    
}
.apoyo1 li{
list-style: none;
flex-direction: row;
}

.apoyo_card {
    background-color: white;
    display: flex;
    align-items: center;
}
.apoyo_img{
    width: 94%;
    align-items: start;
    
}
.apoyo_img1{
    width: 90%; 
   
}
.footer_apoyo {
    background-color: white;
    text-align: center;
    padding: 15px 15px;
    font-weight: bold;
}

/* empieza servicios 
>>>>>>>SERVICIOS<<<<<<<
   */
.sercc {   
   background-color: white;

.servicios_1 {
margin: 0;
padding: 0;
list-style: none;
display: flex;  
flex-direction: space-around; 
font-weight: bold;
font-style: none;


}

.servicios_1 li{
    list-style: none;
    display: flex;
    flex-direction: space-around;
    font-weight: bold;
font-style: none;
padding: 3px;

border: 25px; 
width: 110px;}
.img_serv {
    border-radius: 15%;
    width: 90%;
    display: flex;
    
}

.secserv {
    display: flex;s
}
.card_serv{
   

    }
.card_2serv {
 border-radius: 15px;
 width: 130%;
    }    
.img_3serv {
 width: 30%;
border-radius: 15%;
width:50%;

}

.servicio_pie {
text-align: center;
padding: 15px 15px;
font-weight: bold;
}    
    
            



        /* empieza 
        >>>>>>>CONTACTO <<<<<<<
     */

.contacto {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
display: flex;
justify-content: center;

}
.ul_contacto{
list-style: none;
}
.facebook{
    width: 33%;
}
.instagram{
    width: 33%;
}
.youtube{
    width: 33%;
}